:root {
    --sidebar-bg: #567F92;
    --primary: #1a56db;
    --secondary: #758D9B;
    --success: #0E9F6E;
    --black: #0B344E;
    --dark: #23495F;
    --light-dark: #567F92;
    --white: #FBF7F4;
    --gray-200: #E2E8F0;
    --background: #092B40;
    --border-color: #768D9A;
    --text-dark: #162425;
 }

 /* Todo: investigate and fix, secondary---- 
  --> have two dark[themed] colors for white and gray-200
 */

 :root body {
    background-color: var(--background);
}

:root .header-navigation {
    background-color: var(--black) !important;
}

:root .sidebar header.expanded {
    background-color: var(--background) !important;
    border-color: var(--background) !important;
}

:root .mode .btn,
:root .access .btn {
    background-color: var(--dark) !important;
}
:root .access .btn:hover {
    background-color: var(--primary) !important;
    color: var(--white);
}
 
 /* primary button */
:root .btn-primary {
 background-color: var(--primary);
 border-color: var(--primary);
}

:root .btn-primary:hover {
 background-color: var(--primary);
 border-color: var(--primary);
 opacity: 0.8;
}

:root .btn-primary:focus {
 background-color: var(--primary);
 border-color: var(--primary);
}

:root .btn-primary:active {
 background-color: var(--primary);
 border-color: var(--primary) !important;
}

:root .btn-primary.disabled {
    background-color: var(--primary);
    border-color: var(--primary);
    filter: brightness(85%);
}

:root .btn-outline-primary {
 color: var(--white);
 border-color: var(--primary);
}

:root .btn-outline-primary.active{
    background-color: var(--primary) !important;
    border-color: var(--primary) !important;
}

:root .btn-outline-primary:hover {
    border-color: var(--primary) !important;
}

:root .btn-link {
    color: var(--gray-200);
}

:root .btn-light {
    background-color: var(--sidebar-bg);
    border-color: var(--sidebar-bg);
    color: var(--white);
}

:root .btn-light:hover {
    background-color: var(--light-dark);
    border-color: var(--light-dark);
}

/* look into this on refactoring */
:root .btn-outline-light:hover {
    background-color: var(--background) !important;
    color: var(--white);
}

:root .btn-outline-light:active {
    background-color: var(--background) !important;
}

:root .btn-outline-light.dropdown-toggle {
    background-color: var(--dark) !important;
}

:root .btn-white {
    background-color: var(--background);
    border-color: var(--background);
    color: var(--white);
}

:root .btn-white:hover {
    background-color: var(--light-dark);
    border-color: var(--light-dark);
}

:root .btn-dark {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--black);
    filter: brightness(85%);
}
:root .btn-dark:hover,
:root .btn-dark:focus,
:root .btn-dark:not(:disabled):not(.disabled):active {
    background-color: var(--white);
    border-color: var(--white);
    color: var(--black);
    filter: brightness(100%);
}

/* compose specific */
:root .btn-outline-warning:not(:disabled):not(.disabled).active {
    background-color: var(--primary) !important;
    color: var(--white);
}
:root .btn-outline-warning:not(:disabled):not(.disabled).active:focus {
    box-shadow: none;
}
/* compose specific */

:root .bg-light {
    background-color: var(--light-dark) !important;
    color: var(--white) !important;
}

:root .bg-extra-light {
    background-color: var(--dark);
  }

:root .bg-white {
    background-color: var(--dark) !important;
    color: var(--white) !important;
}

/* Card */
:root .card {
    background-color: var(--black) !important;
    color: var(--white) !important;
}

:root .card-header {
    background-color: var(--black) !important;
    border-color: var(--border-color) !important;
}
/* end card */

/* text */
:root .text-primary {
    color: var(--white) !important;
}

:root .text-dark {
    color: var(--white) !important;
}

:root .text-dark:hover {
    color: var(--primary) !important;
}

:root .title {
    color: var(--white) !important;
}

:root .text-muted {
    color: var(--secondary) !important;
}

:root .text-success {
    color: var(--success) !important;
}

:root .text-secondary {
    color: var(--gray-200) !important;
}
/* end of text */

:root .table-light {
    background-color: var(--light-dark) !important;
    color: var(--white) !important;
}

:root .table {
    color: var(--white) !important;
}

:root .table thead th {
    color: var(--white) !important;
    background-color: var(--dark) !important;
    border-color: var(--dark) !important;
}

:root .table .pointer tr:hover,
:root .table-hover tbody tr:hover {
    background-color: var(--secondary) !important;
    color: var(--white) !important;
}

:root tr:hover td.actions {
    background-color: var(--secondary) !important;
    color: var(--text-dark) !important;
}

:root .table td {
    border-color: var(--border-color) !important;
}

:root td:hover .inline-actions {
    background-color: transparent !important;
}

:root td:hover .inline-actions button:hover {
    color: var(--gray-200) !important;
  }

:root .dropdown-menu {
    background-color: var(--background) !important;
    border: var(--border-color) !important;
}

:root .dropdown-item:hover {
    background-color: var(--black) !important;
}

/* HTML Elements */
:root legend {
    color: var(--white) !important;
}

:root a {
    color: var(--gray-200) !important;
}

:root a:hover {
    color: var(--gray-200) !important;
}

/* Form elements */
:root input,
:root textarea,
:root select,
:root label.custom-file-label,
:root .form-control {
    color: var(--white) !important;
    background-color: var(--black) !important;
    border-color: var(--border-color) !important;
}

:root input::placeholder {
    color: var(--secondary) !important;
}

:root .form-control .btn {
    color: var(--white);
    border-color: var(--white);
}

:root .custom-control-label::before {
    background-color: var(--black) !important;
    border-color: var(--white) !important;
}

:root .input-group-text {
    background-color: var(--black) !important;
    border-color: var(--border-color) !important;
    color: var(--white);
}

:root .form-control-plaintext {
    background-color: transparent !important;
    border-color: transparent !important;
}

:root .v-select input {
    border-color: transparent !important;
}

:root .append-group-border,
:root .v-select .vs__dropdown-toggle {
    border-color: var(--border-color) !important;
}
:root .vs__selected {
    color: var(--white);
    background-color: var(--black);
}
:root .v-select .vs__open-indicator {
    fill: var(--white);
}
:root .vs--disabled .vs__dropdown-toggle {
    background-color: var(--dark) !important;
}
:root .vs--disabled .vs__open-indicator {
    background-color: transparent !important;
}
:root .vs__deselect {
    fill: var(--gray-200);
}
:root .v-select .vs__clear {
    fill: var(--gray-200);
}
:root .vs--searchable {
    background-color: transparent !important;
}
:root .vs__dropdown-menu {
    background-color: var(--black) !important;
}
:root .vs__dropdown-option {
    color: var(--white) !important;
}
:root .vs__dropdown-option:hover {
    background-color: var(--primary) !important;
}
:root .vs__dropdown-option--highlight{
    background-color: var(--primary) !important;
}
:root .vs__dropdown-option--disabled {
    pointer-events: none;
    color: var(--secondary) !important;
}

:root .modal-content {
    background-color: var(--black) !important;
    border-color: var(--border-color) !important;
    color: var(--white) !important;
}
:root .modal-content button.close {
    background-color: var(--black) !important;
    color: var(--white) !important;
}
:root .modal-header,
:root .modal-footer {
    border-color: var(--border-color) !important;
}

:root .border-top,
:root .border {
    border-color: var(--border-color) !important;
}

/* Compose specific todo: substitute with dark themed white and gray-200 */
:root .editable .grid-item {
    background-image: linear-gradient(45deg, var(--black) 25%, var(--dark) 25%, var(--dark) 50%, var(--black)  50%, var(--black) 75%, var(--dark) 75%, var(--dark) 100%);
}

:root .nav-tabs .nav-link.active {
    background-color: var(--border-color);
    border-color: var(--gray-200) var(--gray-200) var(--border-color);
    color: var(--white);
}

/* radio button */
:root .custom-control-input:checked ~ .custom-control-label::before {
    border-color: var(--primary) !important;
    background-color: var(--primary) !important;
}
:root .custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    background-color: var(--white);
}

:root .list-group-item {
    background-color: var(--dark);
}

:root .dropdown-item {
    color: var(--white);
}
:root .dropdown-item:disabled{
    color: var(--secondary);
}

:root div:empty::before {
    color: var(--secondary);
}

:root input[type="range"] {
    background-color: var(--black) !important;
}
:root input[type="range"]::-moz-range-track{
    background-color: var(--gray-200) !important;
}
:root input[type="range"]::-webkit-slider-runnable-track {
    background-color: var(--gray-200) !important;
}

:root input[type="range"]::-moz-range-thumb{
    background-color: var(--primary);
    filter: brightness(85%);
}
:root input[type="range"]::-moz-range-thumb:active {
    background-color: var(--primary);
    filter: brightness(100%);
}
:root input[type="range"]::-webkit-slider-thumb{
    background-color: var(--primary);
    filter: brightness(85%);
}
:root input[type="range"]::-webkit-slider-thumb:active {
    background-color: var(--primary);
    filter: brightness(100%);
}

:root .sortable-tree ul .content:hover {
    background: var(--secondary) !important;
    color: var(--white) !important;
}

:root .sortable-tree li {
    background-color: var(--black) !important;
}

:root .sortable-tree .parent-li {
    border-color: var(--border-color);
}

:root .sortable-tree li::before,
:root .sortable-tree li::after {
    border: none !important;
}

/* end of compose specific */